<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="fragments/footer.html :: footer"></div>
    <h1>Hi Engineer</h1>

    <form th:action="@{/engineer/showCalc}" method="post">
        <h1 th:text="#{sheet.separation}"></h1>
        <select th:name="num">
            <option th:each="number : ${numbers}" th:value="${number}" th:text="#{${number}}">
            </option>
        </select>
        <button type="submit" th:text="#{calculation}"></button>
    </form>

    <button><a th:href="@{/engineer/showMetalForm}" th:text="#{create.metal}"></a></button>


</body>
</html>