* {
    margin: 0;
    padding: 0;
}
.animation-area {
    background: linear-gradient(to left, #D87497, #574FC0, #574FC0, #A469CF, #D87497);
    width: 100%;
    height: 100vh;
}
.box-area {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;    
    animation: anim 20s linear infinite;
    bottom: -150px;
}
.box-area li:nth-child(1){
    background: rgba(170, 79, 192, 0.8);
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    background: rgba(79, 192, 183, 0.8);
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    background: rgba(207, 142, 80, 0.8);
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;    
}
.box-area li:nth-child(4){
    background: rgba(30, 27, 212, 0.8);
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;  
    animation-duration: 15s;  
}
.box-area li:nth-child(5){
    background: rgba(189, 57, 99, 0.8);
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;   
}
.box-area li:nth-child(6){
    background: rgba(181, 212, 27, 0.8);
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;   
}
@keyframes anim {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
    
}
